<h1>Friends Index</h1>
{{#link-to 'friends.new'}}New Friend{{/link-to}}
{{! The context here is the controller}} 
<h2>Total friends: {{model.length}}</h2>
<ul>
  {{#each friend in model}}
  <li>
    {{link-to friend.fullName 'friends.show' friend}}
  </li>
  {{/each}}
</ul>
